{% extends "layout.html" %}

{% block body %}

    <div class="container" style="margin-top: 50px;">
        <h1>Fill your Details</h1>
        <!-- enctype="multipart/form-data" means this form can post multiple file like image, video anything now not only data -->
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div id="personal">
                <br><h3>Personal Details</h1>
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Please Enter Your First Name" required>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Please Enter Your Last Name" required>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Please Enter Your Profile Picture</label>
                    <!-- accept="image/*" means the user can choose only image -->
                    <input class="form-control" accept="image/*" name="profile_pic" type="file" id="formFile" required>
                </div>
                <div class="mb-3">
                    <label for="facebook" class="form-label">Enter your Facebook Account (optional)</label>
                    <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Please Enter Your Facebook Name">
                </div>
                <div class="mb-3">
                    <label for="github" class="form-label">Enter your Github Account (optional)</label>
                    <input type="text" class="form-control" id="github" name="facebook" placeholder="Please Enter Your Github Name">
                </div>
                <button class="btn btn-primary" onclick="tostep2()">Next</button>
            </div>


            <div id="education" style="display: none;">
                <br><h3>Educaiton Details</h1>
                <div class="mb-3">
                    <label for="schoolName" class="form-label">School Name (optional)</label>
                    <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="Please Enter Your School Name">
                </div>
                <div class="mb-3">
                    <label for="collegename" class="form-label">College Name (optional)</label>
                    <input type="text" class="form-control" id="collegename" name="collegename" placeholder="Please Enter Your College Name">
                </div>
                <button class="btn btn-primary" onclick="tobackstep1()">Back</button>
                <button class="btn btn-primary" onclick="tostep3()">Next</button>
            </div>


            <div id="contact" style="display: none;">
                <br><h3>Contact Details</h1>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number (without country code)</label>
                    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Please Enter Your Phone Number" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Please Enter Your Email Address" required>
                </div>
                <button class="btn btn-primary" onclick="tobackstep2()">Back</button>
                <button class="btn btn-primary" onclick="tostep4()">Next</button>
            </div>


            <div id="about" style="display: none;">
                <br><h3>About You</h1>
                <div class="mb-3">
                    <h6>Please write something about you</h6>
                    <textarea name="about" class="form-control" cols="20" rows="5"></textarea>
                </div>
    
                <div class="mb-3">
                    <label for="skill1" class="form-label">Enter your skills</label>
                    <input type="text" class="form-control" id="skill1" name="skill1" placeholder="Please Enter Your First Skill" required>
                </div>
                <div class="mb-3">
                    <label for="skill2" class="form-label">Enter your skills (optional)</label>
                    <input type="text" class="form-control" id="skill2" name="skill2" placeholder="Please Enter Your Second Skill">
                </div>
                <div class="mb-3">
                    <label for="skill3" class="form-label">Enter your skills (optional)</label>
                    <input type="text" class="form-control" id="skill3" name="skill3" placeholder="Please Enter Your Third Skill">
                </div>    
                <button class="btn btn-primary" onclick="tobackstep3()">Back</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>            
        </form>
    </div>
    <script>
        function tostep2(){
            document.getElementById("personal").style.display = "none";
            document.getElementById("education").style.display = "block";
        }
        function tostep3(){
            document.getElementById("education").style.display = "none";
            document.getElementById("contact").style.display = "block";
        }
        function tostep4(){
            document.getElementById("contact").style.display = "none";
            document.getElementById("about").style.display = "block";
        }
        function tobackstep1(){
            document.getElementById("education").style.display = "none";
            document.getElementById("personal").style.display = "block";
        }
        function tobackstep2(){
            document.getElementById("contact").style.display = "none";
            document.getElementById("education").style.display = "block";
        }
        function tobackstep3(){
            document.getElementById("about").style.display = "none";
            document.getElementById("contact").style.display = "block";
        }
    </script>
{% endblock %}
